#### before add info, change this file name to ".env"
 
# pretty basic database info
DB_NAME = 
DB_USERNAME = 
DB_PASSWD = 
DB_HOST = 

JWT_SECRET_KEY = 

# Admin emails
ADMIN1_EMAIL = 

# server account to send email to users
SERVER_PSSWD = 
SERVER_EMAIL = 

# cloudinary variables you need to create an account before get it
CLOUD_NAME = 
CLOUD_KEY = 
CLOUD_SECRET_KEY = 